.section-cards.blog{
    flex-direction: column;
  }

  .blogs-container{
    /* border-top: 1px solid rgb(0 0 0 / 10%);
    border-bottom: 1px solid rgb(0 0 0 / 10%); */
    padding: 0px 0px;
    margin: 12px 0px;
    display: flex;
  }

  .blogs-container .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .blogs-container .left{
    width: 50%;
    margin-right: 12px;
  }
  .blogs-container .right{
    width: 50%;
    margin-right: 12px;
  }

  .blog-photo {
    overflow: hidden;
    width: 100%;
    height: 280px;
    background-color: #FF9393;
  }

  .blog-photo img {
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  .blog-header-figure {
    height: 420px;
    background-color: #FF9393;
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
  }

  .blog-header-figure img{
    object-position: center;
    width:100%;
    height:100%;
    object-fit:cover;
  }

  figcaption{
    position: absolute;
    left: 6px;
    bottom: 6px;
    padding: 6px;
    background-color: white;
    box-shadow: var(--drop-shadow-option-two);
    font-size: 0.8rem;
  }

  .image-text-lock-up{
    display: flex;
    margin-top: 24px;
  }

  .image-text-lock-up .left, .image-text-lock-up .right {
   width: 50%;
  }

  .image-text-lock-up .left{
    width: 50%;
    margin-right: 12px;
  }

  .image-text-lock-up .right{
    width: 50%;
    margin-right: 12px;
  }

  .image-text-lock-up-figure {
    height: 420px;
    background-color: #FF9393;
    width: 100%;
    padding: 0;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;
    
  }

  .image-text-lock-up img{
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;

    
  }



  .image-text-lock-up figcaption{
    position: absolute;
    left: 6px;
    bottom: 6px;
    padding: 6px;
    background-color: white;
    box-shadow: var(--drop-shadow-option-two);
  }

  .pulled-qoute{
    position: relative;
    padding: 42px;
    box-shadow: var(--drop-shadow-option-two);
    transform: scale(0.9) rotate(-2deg);
    transition: 0.5s ease;
  }

  .image-text-lock-up:hover .pulled-qoute{
    transform: scale(1) rotate(0deg);
    transition: 0.2s ease;
  }

  .pulled-quote-l,  .pulled-quote-r {
    position: absolute;
    font-size: 4rem;
    font-family: 'Space Grotesk', sans-serif;
  }

  .pulled-quote-l {
    left: 19px;
    top: 4px;
    transform: rotate(180deg);
    
  }

   .pulled-quote-r {
    right: 19px;
    bottom: 3px;
  }

  .three-images{
    display: flex;
    justify-content: space-evenly;
    
  }

  .three-images div{
    width: 30%;
    padding: 6px;
    position: relative;
  }

  .three-images div figure{
    position: relative;
    overflow: hidden;
    height: 240px;
  }

    .three-images img{
        float:left;
        width:100%;
        height:100%;
        object-fit:cover;
  }


 
