

  .hello-message-container{
    display: flex;
    margin-top: 60px;
  }


  .hello-message-container .left {
    height: 100%;
    width: 30%;
    margin-right: 20px;
  }

  .picture{
    min-height: 320px;
    min-width: 320px;
    max-height: 320px;
    max-width: 320px;
    background-image: url(/img/49328495.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 24px;
  }

  .hello-message-container .right  {
    width: 70%;
  }