a{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
  }

:root{
    --main-color: rgba(225, 244, 255, 1);
    --main-color-opacity-0:rgba(225, 244, 255, 0);
    --secondary-color: rgba(248, 78, 62, 1);
    --secondary-color-opacity: rgba(248, 78, 62, 0.80);
    --third-color: rgba(255, 238, 178, 1);

    --text-color: rgba(34, 34, 34, 1);
    --text-color-light: rgba(34, 34, 34, 0.4);

    --main-font: 'Overpass', sans-serif;
    --secondary-font: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* margin-bottom: 21px;
    margin-top: 21px; */
}


h1 {
    font-size: 0em;
    margin: 0em 0;
}

.padding-24px{
    padding: 24px;
}

html{
    background-color: var(--main-color);
    font-size: 16px;
}

@media (max-width: 600px) {
    html{
        background-color: var(--main-color);
        font-size: 12px;
        transition: font-size 0.5s;
    }
}

main{
    max-width: 1060px;
    margin-top: 120px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    font-family: var(--main-font);
    font-weight:300;
    font-size: 6.25rem;
    letter-spacing: -0.09375rem;
    line-height: 7.5rem;
}

h2{
    font-family: var(--main-font);
    font-weight:300;
    font-size: 3.875rem;
    letter-spacing: -0.03125rem;
    line-height: 4.65rem;
}

h3{
    font-family: var(--main-font);
    font-weight:normal;
    font-size: 3.125rem;
    letter-spacing: 0px;
    line-height: 3.75rem;
}

h4{
    font-family: var(--main-font);
    font-weight:300;
    font-size: 2.1875rem;
    letter-spacing: 0.015625rem;
    line-height: 2.625rem;
}

h5{
    font-family: var(--main-font);
    font-weight:300;
    font-size: 1.5625rem;
    letter-spacing: 0.009375rem;
    line-height: 1.875rem;
}

.subtitle-one{
    font-family: var(--main-font);
    font-weight:normal;
    font-size: 0.9375rem;
    letter-spacing: 0.009375rem;
    line-height: 1.275rem;
    text-transform: uppercase;
}

.subtitle-two{
    font-family: var(--main-font);
    font-weight:normal;
    font-size: 0.9375rem;  
    letter-spacing: 0.00625rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}

body{
    font-family: var(--secondary-font);
    font-weight:normal;
    font-size: 1rem;
    letter-spacing: 0.03125;
    line-height: 1.2rem;

}

.body-two{
    font-family: var(--secondary-font);
    font-weight:normal;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16.8px;
}

button{
    transition: 0.5s;
    cursor: pointer;
}

.button-type{
    font-family: var(--secondary-font);
    font-weight:500;
    font-size: 0.875rem;
    letter-spacing: 0.078125rem;
    text-transform: uppercase;
    line-height: 1.5rem;
}

.caption{
    font-family: var(--secondary-font);
    font-weight:500;
    font-size: 0.75rem;
    letter-spacing: 0.025rem;
    line-height: 1.5rem;
}

.overline{
    font-family: var(--secondary-font);
    font-weight:normal;
    font-size: 10px;
    letter-spacing: 1.5px;
    line-height: 24px;
}

/* button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */

.contained-button{
    height: 36px;
    background-color: var(--secondary-color);
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    border: none;
    color: white;
}

.contained-button:hover{
    background-color: var(--secondary-color-opacity);
}

.outlined-button{
    height: 36px;
    border: 1px var(--secondary-color) solid;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    background: none;
    color: var(--secondary-color);
    background-color: rgba(255, 127, 80, 0);
}

.outlined-button:hover{
    background-color: var(--secondary-color);
    color: white;
}

.text-button{
    height: 36px;
    background: none;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    background: none;
    border: none;
    color: var(--secondary-color);
}

.icon-button-stye{
  width: 18px; 
  height: 18px;
  padding-right: 8px; 
}

.icon-button{
    height: 36px;
    border: 1px var(--secondary-color) solid;
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 3px;
    background: none;
    color: var(--secondary-color);
}

.divider{
    border: 1px var(--secondary-color) solid;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
}

.divider-subtile{
    border: 1px var(--secondary-color) solid;
    margin-top: 24px;
    margin-bottom: 4px;
    width: 100%;
}

.nav-container{
    width: 100%;
background: linear-gradient(180deg, var(--main-color) 45%, var(--main-color-opacity-0) 100%);
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 24px 0px;
}

nav{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, -15px);
}

.logo-text{
    position: relative;
    cursor: pointer;
}

.logo-text h4{
    line-height: unset !important;
    height: 0px;
}

.logo-text-underline{
    position: absolute;
    background-color: var(--text-color);
    width: 100%;
    height: 2px;
    bottom: 0px;
    transition: 0.1s ease;
    opacity: 0 ;
}

.logo-text:hover .logo-text-underline{
    transition: 0.1s ease;
    bottom: -2px;
    opacity: 1;
}

.nav-links{
    display: flex;
}

.nav-link{
    color: var(--text-color);
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    transition: 0.5s;
}

.link-arrow{
    position: absolute;
    right: 0px;
    transition: 0.5s;
    opacity: 0;
}

.link-text{
    opacity: 0.2;
    transition: 0.4s; 
}


.nav-link:hover .link-arrow{
    color: var(--text-color);
    right: -12px;
    transition: 0.5s;
    opacity: 1;
}

.nav-link:hover .link-text{
    opacity: 1; 
    transition: 0.4s; 
}

.line-height-none{
    line-height: unset;
}

.section-cards{
    max-width: 100%;
    padding: 32px;
    background-color: white;
    min-height: 420px;
    display: flex;
    margin-top: 36px;
    margin-bottom: 36px;
    box-shadow: 0px 0px 15px rgb(176 191 200 / 10%);
    transition: 0.5s;
  }

  .section-cards .left, .section-cards .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-cards:hover{
    box-shadow: 0px 0px 15px rgb(176 191 200 / 90%);
    transition: 0.5s;
  }

  .section-card-flex-direction{
    flex-direction: column;
  }

  .bullet-points li::marker {
    content: "● ";
    background: lightgray;
    border-radius: 1ch;
    padding-inline: 1ch;
    margin-inline-end: 1ch;
  }


  input[type=text], input[type=email] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:var(--secondary-color-opacity);
}

input[type=submit] {
        height: 36px;
    background-color: var(--secondary-color);
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--secondary-color-opacity);
}

