/* main.css */

@media (max-width: 871px){
    .picture{
        min-height: 280px;
        min-width: 280px;
        max-height: 280px;
        max-width: 280px;
      }

     .hello-message-container .right h1 {
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 5.25rem;
        letter-spacing: -0.09375rem;
        line-height: 6.5rem;
    }
}


@media (max-width: 770px) {
    main {
        margin-top: 90px;
    }
}


@media (max-width: 400px){
    .picture{
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
      }
}



@media (max-width: 770px) {
    nav{
        flex-direction: column;
    }
    
    .nav-links{
        flex-wrap: wrap;
    }  

    .nav-link{
        margin-left: 0px;
    }

    .nav-container{
        padding: 0px 0px;
    }

    .section-cards {
        margin-top: 12px;
    }

    .section-card-flex-direction {
        flex-direction: column;
    }

    .section-cards .left, .section-cards .right {
        width: 100%;
      }

      .logo-text h4 {
        line-height: unset !important;
        height: 0px;
        padding-bottom: 12px;
    }

    .nav-container {
        background: linear-gradient(180deg, var(--main-color) 70%, var(--main-color-opacity-0) 100%);
    }

    .socials-container a button{
        margin-bottom: 12px;
    }

    main {
        margin-top: 100px;
    }

    .logo-text:hover .logo-text-underline {
        transition: 0.2s ease;
        bottom: -5px;
        opacity: 1;
    }

    .logo-text-underline {
        position: absolute;
        background-color: var(--text-color);
        width: 100%;
        height: 2px;
        bottom: 2px;
        transition: all 0.2s ease 0s;
        opacity: 0;
    }
    
}



/* about-me.css */

@media (max-width: 900px) {

    .about-me-container{
        flex-direction: column;
    }
    
    .about-divider{
        display: block;
    }

    .about-me-container .left, .about-me-container .right{
        width: 100%;
    }

    .about-me-container .left{
        margin-right: 0px;
    }

}

/* contact.css */
@media (max-width: 910px){
    .contact-section{
        flex-direction: column;
    }
}


/* blog.css */

@media (max-width: 800px) {

    .three-images {
        flex-direction: column;
    }

    .three-images div {
        width: 100%;
        padding: 6px;
        position: relative;
    }

    .blog-header-figure, .three-images div figure, .image-text-lock-up-figure, .blog-photo {
        height: 320px;
    }

}


@media (max-width: 600px) {
    .blogs-container {
        flex-direction: column;
        margin-top: 12px;
    }

    .blogs-container .right{
        margin-top: 18px !important;
    }

    .blog-header-figure, .three-images div figure, .image-text-lock-up-figure, .blog-photo {
        height: 240px;
    }

    .image-text-lock-up {
        flex-direction: column;
    }

    .image-text-lock-up .left {
        margin-right: 0px;
    }

    .three-images {
        flex-direction: column;
    }

    .three-images div {
        width: 100%;
        padding: 6px;
        position: relative;
    }

}

@media (max-width: 320px){

    .blog-header-figure, .three-images div figure, .image-text-lock-up-figure, .blog-photo  {
        height: 140px;
    }

   
}


/* landing-page.css */

@media (max-width: 871px){
    .hello-message-container{
        flex-direction: column;
    }

    .hello-message-container h1 {
        font-family: var(--main-font);
        font-size: 3.25rem;
        line-height: 4.5rem;
    }

    .hello-message-container .left, .hello-message-container .right {
        height: 100%;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    } 

    
}

@media (max-width: 700px){
    .landing-page-section{
        flex-direction: column-reverse;
        
    }
}

@media (max-width: 425px){
    .hello-message-container{
        flex-direction: column;
    }

    .hello-message-container h1 {
        font-family: var(--main-font);
        font-size: 3.25rem;
        line-height: 4.5rem;
    }

    .hello-message-container .left, .hello-message-container .right {
        height: 100%;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }

    .landing-page-section .right .image{
        min-height: 200px;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
    
        background-color: red;
        margin: 24px;
      }
}


/* resume.css */

@media (max-width: 760px) {
    .education-skills-knowledge-containter{
        flex-direction: column;
    }

    .education-skills-knowledge-containter div {
        width: 100%;
    }

    .current-position, .current-learing {
        padding: 12px;
        background-color: var(--third-color);
        margin-top: 12px;
    }

    .education-skills-knowledge-containter .divider{
        display: block;
    }

}

